.column{
    background: #0c1221;  
    border: 1px solid #1C232C;  
    color: white; 
    width: 380px;  
    margin-top: 10px;
    border-radius: 10px; 
    min-height: 500px; 
    margin-bottom: 10px;
     
}

.col-body{
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    margin: auto; 
    padding: 5px 10px;
}

.column-count{
    background: #9699A3; 
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 12px;
}

.col-text{
    font-size: 16px; 
    display: flex;
    gap: 5px; 
    align-items: center;
}

.col-header{
    display: flex; 
    justify-content: space-between; 
    padding: 5px 10px;
}

.col-footer{
    padding: 40px 20px 10px;
}

.add-task-button{
    background: transparent; 
     
    border: none;
    display: flex;
    gap: 10px; 
    font-size: 16px; 
    cursor: pointer; 
    
}

.todo-button , .todo-title{
    color: #8F65DC;
}

.progress-button , .progress-title{
    color: #316DDC;
}

.done-button , .done-title{
    color: #5EC175;
}

.progress-count{
    background: #103063;
}

.done-count{
    background: #16352B;
}

.add-btn-top{
    background: transparent; 
    border: none; 
    color: white;
}